@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Poppins:wght@300&display=swap');

:root{
    --primary-color: #dfedea;
    --secondary-color: #101210;
    --btn-normal: #056e09;
    --btn-light: #dfedea;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-margin-1{
   margin-top: 30px;
}

.btn-normal{
    border: none;
    background-color:#fff;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
 }
 .btn-green{
    border: none;
    background-color:#056e09;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
 }
 .btn-orange{
    border: none;
    background-color:#f1b91e;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
 }

li{
    list-style: none;
}
a{
    text-decoration: none;
   
}
body{
    width: 100vw;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-image: var(--primary-color);
}
/* Nav style */
#nav-bar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
   
}
#nav-bar .nav-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color:var(--primary-color) ;
}
#nav-list{
    display: flex;
    padding: 0px 20px 0px 0px;  
}
#nav-list li{
    margin-right: 20px;
    padding-left: 20px;
}
#nav-list li .active{
    color: var(--btn-normal);
    border-bottom: 1px solid #056e09;
    width: 5px;
}
/* Hero section */
#hero{
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./images/showcase/pexels-marlene-leppänen-1183266.jpg');
    background-position: 30% 30%;
    background-size: 100%;
}
#hero .hero-container{
    padding-left: 50px;
    padding-top: 200px;
    line-height: 3rem;
    color: var(--primary-color);
}
.hero-container h1{
    font-size: 50px;
    font-weight: 900;
    line-height: 4rem;
    margin-bottom: 5px;
    color: #f1b91e;
}
.hero-container p{
    font-size: 25px;
    font-weight: 600;
}
.hero-container h4{
    font-size: 20px;
    margin-bottom: 5px;
}
.hero-container h4 span{
    color: #f1b91e;
    font-style: italic;
    font-size: 35px;
}
.hero-container button{
    width: 200px;
    border: none;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    background-color: var(--btn-normal);
    color:var(--primary-color);
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.hero-container button:hover{
    background-color: var(--btn-light);
    color: #555;
}
/* Showcase page */
#showcase{
    width: 100%;
    height: 70vh;
    background-color: var(--primary-color);
}
#showcase .swiper{
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
}
.swiper .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
}
.swiper  .swiper-slide img {
      display: block;
      width: 100%;
}
/* promo section */
#promo{
    width: 100%;
    margin-top:50px;
    margin-bottom: 15%;
}
#promo .promo-container{
    display: flex;
    width: 100%;
    height: 50vh;
    padding: 20px 40px 20px 40px;
    color: #ffff;
}
#promo .preorder{
   width: 100%;
   height: 70vh;
   background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url(./images/products/pexels-godisable-jacob-1346187.jpg); 
   background-size: 100%;
   background-repeat: no-repeat;
   padding: 150px 20px 20px 35px;
   margin-right: 20px;
   line-height: 2rem;
   cursor: pointer;
}
#promo .discount{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./images/products/pexels-waldemar-2129970.jpg); 
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 150px 20px 20px 35px;
    line-height: 2rem;
    cursor: pointer;
 }
 .preorder h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 3rem;
 }
 .preorder h3 span{
    color: #f1b91e;
    font-size: 35px;
 }
 .discount h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 3rem;
 }
 .opacity:hover{
    opacity: 0.7;
    transform: translate3d(20px 20px);
 }
 /* Newsletter */
 #newsletter{
    width: 100%;
 }
 #newsletter .news-container{
    width: 90%;
    height: 60vh;
    background-color: rgba(76, 0, 255, 0.795);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px 30px 30px 65px;
    padding: 30px;
    display: flex;
    color: #fff;
 }
 .news-container .form{
    margin-left: 80px;
 }
 .form-text h3{
    font-size: 30px;
    font-weight: 600;
    line-height: 2rem;
    font-style: oblique;
    color: #555;
    text-transform: capitalize;
    background-color: #ffff;
    border: none;
    border-radius: 10px;
    padding: 30px;
 }
 .form input{
    display: block;
    width: 200%;
    background: var(--primary-color);
    font-size: 20px;
    padding: 15px;
    border-radius: 4px;
    margin-top: 10px;
    border: none;
    outline: none;
 }
 .form button{
    width: 200px;
    margin-top: 20px;
 }
 #footer-section{
    width: 100%;
    height: 70vh;
    background: #555;
    margin-top: 30px;
    color: #ffff;
    line-height: 1.5rem;
 }
 /* Footer section */
 #footer-section .footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
 }
 .footer-container .help{
    padding-left: 50px;
 }
 .footer-container .payment{
    padding-right: 50px;
 }
  .help h4 a{
    line-height: 1.5rem;
    color: #ffff;
    margin-top: 5px;
 }
 .help h2{
    margin-bottom: 15px;
 }
 .about h2{
    margin-bottom: 15px;
 }
 .payment h1{
    margin-bottom: 15px;
 }
 .about h4 a{
    line-height: 1.5rem;
    padding: 20px 0px 0px 0px;
    color: #ffff;
    margin-top: 5px;
 }
 .payment p{
    line-height: 1.5rem;
    padding: 20px 20px 0px 0px;
    color: #ffff;
    margin-bottom: 15px;
 }

 .help h4:hover{
    border-bottom: 1px solid #fff;
    width:fit-content;
 }
  .about h4:hover{
    border-bottom: 1px solid #fff;
    width: fit-content;
 }
 .payment img{
    width: 100px;
    height: 50px;
    cursor: pointer;
    padding-left: 15px;
 }
 #footer-section .follow{
    margin-left: 50px;
    padding-left: 20px;
 }
 .follow h5{
    font-size: 20px;
    margin-bottom: 5px;
 }
 .follow i{
    font-size: 30px;
    cursor: pointer;
    padding-left: 5px;
    color: #fff;
 }
 .follow h6{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
 }
 #hamburger{
   display: none;
 }
 #close{
   display: none;
 }

 /* Shop Page */

 #feature .feature-container{
   display: flex;
   flex-wrap: wrap;
   padding: 20px 40px;
 }
 #feature h2{
   text-align: center;
   font-size: 50px;
   font-weight: 800;
   margin-bottom: 10px;
 }
 .feature-container div{
   flex: 1;
 }
 .feature-container div h5{
   text-align: center;
   background-color: rgba(223, 6, 187, 0.795);
   color: #dfedea;
   font-weight: 600;
   padding: 5px;
   margin-right: 50px;
   font-size: 15px;
 }
 .feature-container div:nth-child(2) h5{
   background-color: #056e09;
 }
 .feature-container div:nth-child(3) h5{
   background: hsl(170deg, 60%, 45%);
 }
 .feature-container div:nth-child(4) h5{
   background-color: #f05959;
 }
 .feature-container div:nth-child(5) h5{
   background-color: #78e710;
 }
 .feature-container div:nth-child(6) h5{
   background-color: #6e03e9;
 }

 #product-1{
   margin-top: 10%;
   margin-bottom: 5%;
   position: relative;
 }
 #product-1 .product-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 20px;
   padding: 20px;
   margin: 0px 20px;
 }
 #product-1 .search{
   position: absolute;
   top: 1%;
   right: 5%;
 }
 .search i{
   margin-left: -40px;
 }
 #search-bar{
   width: 300px;
   height: 30px;
   border-radius: 20px;
   padding: 15px;
 }

 .product-title h2{
   text-align: center;
   border-bottom: 1px transparent;
   border-style: inset;
   padding: 5px;
   font-weight: 900;
   color: #056e09;
 }
 .product-container div{
   position: relative;
   margin: 0px 30px;
   border: 1px solid #555;
   border-radius: 30px;
 }
 .product-container div img{
   width: 80%;
   height: 70%;
   border: 1px solid #555;
   padding: 30px;
   margin: 20px;
   border-radius: 20px;
 }
 .product-container div img:hover{
   transform: translate3d(-5px, -5px, 50px);
   cursor: pointer;
 }
 .product-container div h4{
   padding-left: 20px;
 }
 .product-container div h5{
   padding-left: 20px;
 }
 .product-container div i{
   position: absolute;
   right: 10%;
   bottom: 10%;
   cursor: pointer;
 }

 .news-container textarea{
   margin-top: 5px;
   width: 90%;
   height: 130px;
   outline: none;
   border: none;
 } 
 .form .shop-btn{
   margin-top: 5px;
   background-color: #6e03e9;
 }
 #newsletter .message-box{
   background-color: hsl(138, 90%, 15%);
   border-radius: 5px;
 }



 .swiper-shop{
   padding: 20px;
   margin: 0px 20px 30px 20px;
 }

 .swiper-slide{
   padding: 20px 30px;
   border: 1px transparent #666;
   border-radius: 20px;
   position: relative;
 }
 .swiper-slide h3{
   position: absolute;
   top: 10%;
   left: 15%;
   border: 1px solid #f05959;
   border-radius: 50%;
   padding: 2px;
   background: #f05959;
   color: #fff;
   font-size: 20px;
 }
 .swiper-slide img{
   border: 1px solid #666;
   border-radius: 10px;
   padding: 20px;
 }
 .swiper-slide h4,
 .swiper-slide h6,
 .swiper-slide a{
   font-size: 20px;
   line-height: 1.5rem;
   margin-top: 3px;
   padding-left: 40px;
 }

 /* Tag side */
 #tag{
   width: 100%;
   margin: 30px 0px;
 }
 .tag-container{
   display: flex;
   flex-wrap: wrap;
   padding: 20px;
   margin: 20px 30px;
 }
 .tag-container div{
   flex: 1;
   background-color: lightgray;
   border-radius: 10px;
   margin: 10px 20px;
   padding: 10px 5px;
 }
 .tag-container div a{
   display: inline-flex;
 }
 .tag-container div a img{
   width: 70px;
   padding-right: 20px;
 }
 .tag-container div a h2{
   font-size: 20px;
   font-weight: 600;
   margin-top: 5px;
 }
  
 /* Shop Banner */
 #banner{
   width: 100%;
   height: 100vh;
 }
 .banner{
   display: flex;
   flex-direction: row-reverse;
   margin-left: 10%;
   margin-right: 5%;
 }
 .banner img{
   width: 50%;
   height: 70vh;
   cursor: pointer;
 }
 .banner:nth-child(1) img{
   margin-right: 30px;
 }
 /* Showcase page */

 #display{
   width: 80%;
   height: 200px;
   background: #dbdbdb;
   margin: 30px 0px 5% 10%;
   padding: 20px 20px 20px 40px;
   font-size: 20px;
   font-weight: 800;
 }
 #show{
   width: 100%;
   background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
   padding: 30px;
   color: #ffff;
 }
 #show .show{
   width: 100%;
   height: 40vh;
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 5%;
   border-bottom: 5px solid #dbdbdb;
 }
 .show img{
   margin-bottom: 20px;
   width: 50%;
 }
 #show .show:nth-child(5){
   border: none;
 }

 /* About Page */
 #about-body{
   background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
 }

 #about-header{
   background-color: #1a4bcf;
   height: 50px;
   width: 100%;
   margin-bottom: 30px;
   color: #fff;
 }
 #about-header .about-container{
   display: flex;
   justify-content: space-evenly;
   padding: 10px;
 }
 .about-container h1{
   font-size: 20px;
 }
 #about-vision .container-vision{
   text-align: center;
 }
 .container-vision .mission{
   display: inline-flex;
 }
 .mission li{
   margin: 20px;
   border-right: 1px solid #555;
   padding: 10px 20px 10px 10px;
   font-size: 20px;
 }
 .mission a:hover{
   border-bottom: 1px solid #555;
   width: 50px;
 }

 .contentBox{
   position: relative;
   width: 100%;
   margin: 0px 120px 0px 30px;
   padding: 5px;
   cursor: pointer;
 }

 .contentBox .content-title{
   background: #056e09;
   font-size: 20px;
   padding-left: 20px;
   color: #fff;
 }
 .contentBox .content-title::before{
   content: '+';
   position: absolute;
   right: 10%;
   font-size: 1.5rem;
 }
 .contentBox.show .content-title::before{
   content: '-';
 }
 .contentBox .content{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: 0.5s;
   padding: 0px 15px;
 }
 .show .content{
   height: 50px;
 }

 #chart {
   max-width: 800px;
   margin: 30px auto 20px auto;
   height: 100%;
 }
 #chart h1{
   text-align: center;

 }

 /* Contact pages */
 #contact{
   width: 100%;
   padding: 20px;
   margin: 30px;
 }
 #contact h1{
   font-size: 40px;
 }
 #contact .locate{
   display: flex;
 }
 .contact-container{
   margin-right: 100px;
 }
 .contact-container div{
   display: flex;
   line-height: 3rem;
 }
 .contact-container div i{
   margin: 15px 10px 0px 0px;
 }

 
 #form form{
   margin-top: 30px;
 }
 #form form p label input{
   width: 120%;
   height: 30px;
   outline: 0;
   border-radius: 4px;
   border: 1px transparent #666;
 }
 #form{
   display: flex;
   margin: 100px 30px 0px 30px;
   border: 1px solid #666;
   padding: 30px;
   margin-right: 50px;
   justify-content: space-between;
 }
 #form form p label input{
  width: 200%;
  height: 50px;
  outline: none;
  border-radius: 0px 4px 4px 0px;
  border: 0.5px solid #056e09;
  line-height: 3rem;
 }
 #form form p label textarea{
  width: 200%;
  height: 100px;
  outline: none;
  border: 0.3px solid #056e09;
  margin-top: 10px;
 }
 #form form p button{
  width: 50%;
  height: 40px;
  border-radius: 30px;
  text-align: center;
  color: #ffff;
  background-color: var(--btn-normal);
  outline: none;
  border: none;
  cursor: pointer;
 }
 #form form p button:hover{
  background-color: #fff;
  color: #666;
 }
 #team{
  margin-right: 50px ;
 }
 #team-heading{
  text-align: center;
  font-size: 2rem;
  text-shadow:#f05959 1px 1px 5px;
  color: #056e09;
 }
 
   
 #team div{
   display: flex;
   margin: 20px;
 }
 #team div p{
   display: flex;
   flex-direction: column;
   margin-left: 10px;
 }

 

 /* Media querrry for ipad mini */

 @media(max-width: 768px){
   #hamburger{
      display: none;
   }
   #close{
      display: none;
   }
   #nav-list li {
      margin-right: 5px;
      padding-left: 10px;
  }
  #hero {
   height: 70vh;
   background-position: top 30% right 5%;
   background-size: 80%;
}
.hero-container h1 {
   font-size: 30px;
   font-weight: 800;
   line-height: 3rem;
}
#promo .discount {
   margin-bottom: 300px;
   height: 60vh;
}
#promo .preorder {
   height: 60vh;
}

#newsletter .news-container {
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   margin-top: 150px;
   margin-left: 30px;
}
.form input {
  margin-right: 400px;
  width: 80%;
}
#footer-section .footer-container {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.footer-container .payment {
   margin-top: 30px;
   margin-left: 30px;
   padding-left: 20px;
}
.follow h6 {
   font-size: 30px;
   margin-top: 45px;
   padding-top: 30px;
}

 }
 @media(max-width: 360px){
   #nav-bar{
      width: 100%;
   }
   #nav-bar .nav-container {
      width: 100vw;
      display: flex;
      flex-direction: row;
  }
   #nav-list{
      position: fixed;
      width: 200px;
      height: 100vh;
      top: 0;
      right: -200px;
      background-color: var(--primary-color);
      display: flex;
      flex-direction: column;
      padding: 20px 20px;
      transition: all 0.3s ease-in;
  }
  #nav-list li {
   margin-top: 20px;
   padding-top: 30px;
}
#hamburger{
   display: block;
}
#nav-bar .open{
   right: 0;
}
#nav-list #close{
   position: absolute;
   display: block;
   left: 20%;
}
#hero {
   width: 100%;
   height: 70vh;
   background-position: top 30% right 5%;
   background-size: 100%;
   background-repeat: no-repeat;
}
.hero-container h1 {
   margin-top: -50px;
   font-size: 20px;
   font-weight: 800;
   line-height: 1.5rem;
}
.hero-container p {
   font-size: 15px;
   font-weight: 600;
   line-height: 2rem;
}
.hero-container h4 {
   font-size: 15px;
   margin-bottom: 5px;
   line-height: 1.5rem;
}
#promo .promo-container {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100vh;
   padding: 20px 40px 20px 40px;
   color: #ffff;
}
#promo .preorder {
   width: 100%;
   height: 100vh;
   align-items: center;
   justify-content: center;
   padding: 20px;
   line-height: 1.5rem;
   margin-bottom: 50px;
}
.preorder h3 {
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 3px;
   line-height: 2rem;
}
#promo .discount {
   width: 100%;
   height: 80vh;
   padding: 20px;
   line-height: 1.5rem;
   align-items: center;
   justify-content: center;
   margin-bottom: 0px;
}
.discount h3 {
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 5px;
   line-height: 2.5rem;
}
#newsletter .news-container {
   width: 100%;
   height: 80vh;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
   margin-left: 30px;
   padding: 10px;
}
.form-text h3 {
   padding: 30px;
}
.form input {
   margin-right: 350px;
   width: 70%;
}
#footer-section {
   width: 100%;
   height: 100%;
   background: #555;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
}
.footer-container .help {
   padding: 20px;

}
.footer-container .about{
   padding: 20px;
}
.about h2{
   font-size: 25px;
}
.footer-container .payment {
   margin-top: 30px;
   margin-left:0px;
   padding: 20px;
}
#footer-section .follow {
   margin-left: 15px;
   padding:20px;
}
.help h2 {
   margin-bottom: 15px;
   color: #f1b91e;
}
.about h2 {
   margin-bottom: 15px;
   color: #f1b91e;
}
.payment h2{
   font-size: 25;
   color: #f1b91e;
}
.payment img {
   width: 50px;
   height: 50px;
   padding-left: 5px;
}
.follow h6 {
   font-size: 15px;
   margin-top: 45px;
   padding-top: 30px;
}

/* Shop page */

#feature .feature-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   
}
.feature-container div h5 {
   margin-right: 0px;
   margin-bottom: 20px;
}
 }

 


